# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore tool binaries
migrate

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# .NET build directories
**bin/
**obj/
/apps/logistics-frontend/bin/
/apps/logistics-frontend/obj/

# User-specific files
.vs/
.vscode/

# .NET Core SDK-related files
.project.json
artifacts/

# Windows Installer files
*.vspscc
*.user
*.userosscache
*.suo
*.sln.docstates

# JetBrains Rider specific files
.idea/

# Mac OS-specific files
.DS_Store

# Thumbnails for images
Thumbs.db

# Ignore future Newman reports generated during CI
postman/newman-report.json
newman/
*.html
*.xml
*.json

# Tailwind, Docker & node_modules
.npm/
.cache/
*.log
node_modules/
dist/
apps/logistics-frontend/wwwroot/css/site.css