@namespace logistics_frontend
@using logistics_frontend.Pages.Shared.Sidebars

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(PublicLayout)">
                <h3>Sorry, the page you're looking for doesn't exist.</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
