<footer class="sticky bottom-0 left-0 right-0 bg-black text-white text-sm text-center py-4">
    <p>
        &copy; @DateTime.Now.Year Logistics System. All rights reserved. &nbsp;•&nbsp;
        <a href="/privacy-policy" class="underline hover:text-gray-300" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    </p>
</footer>
