@using System.Linq.Expressions

<div class="mb-3">
    <label class="block text-sm font-medium text-gray-700">@Label</label>
    <InputText 
        class="form-control w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm text-gray-800"
        @bind-Value="Value"
        Placeholder="@Placeholder"
    />
    <ValidationMessage For="ValueExpression" class="text-red-600 text-sm mt-1" />
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string? Placeholder { get; set; }

    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    [Parameter] public Expression<Func<string?>>? ValueExpression { get; set; }
}
